* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #001D39;

  .startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    button {
      font-size: 25px;
      font-weight: 500;
      color: #fff;
      padding: 15px 30px;
      outline: none;
      border: none;
      border-radius: 5px;
      background: #B3cFE5;
      cursor: pointer;
    }
  }

  .infoBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    width: 540px;
    background: #ffffff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3ease;
    /* we require this properties only when start button is clicked */
    /* opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); */

    .info-box-title {
      height: 60px;
      width: 100%;
      border-bottom: 1px solid lightgrey;
      display: flex;
      align-items: center;
      padding: 0 30px;
      border-radius: 5px 5px 0 0;
      font-size: 20px;
      font-weight: 600;
    }

    .info-list {
      padding: 15px 30px;

      .info-row {
        margin: 5px 0;
        font-size: 17px;
      }
    }

    .footer {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 30px;
      border-top: 1px solif lightgrey;

      .exitBtn {
        margin: 0 5px;
        height: 40px;
        width: 100px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        border: 1px solid #0A1931;
        transition: all 0.3sease;
        color: #1A3D63;
        background: #fff;
      }
      button {
        margin: 0 5px;
        height: 40px;
        width: 100px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        border: 1px solid #0A1931;
        transition: all 0.3sease;
        color: #fff;
        background: #4A7FA7;
      }
      .exitBtn:hover {
        color: #fff;
        background-color: #B3cFE5;
      }
      .continueBtn {
        color: #fff;
        background: #B3cFE5;
      }
    }
  }

  .infoBox.activeInfoBox {
    /* we require this properties only when start button is clicked */
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }

  .quiz-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 550px;
    background: #ffffff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    .quiz-header-section {
      display: flex;
      flex-direction: column;
      height: 70px;

      background: #ffffff;
      border-radius: 5px 5px 0 0;
      box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);

      .quiz-titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0 30px;

        .quiz-title {
          font-size: 20px;
          font-weight: 600;
        }

        .timelineContainer {
          display: flex;
          align-items: center;
          color: #004085;
          background: #cce5ff;
          border: 1px solid #b8daff;
          height: 45px;
          padding: 0 8px;
          border-radius: 5px;
          justify-content: space-between;
          width: 145px;

          .time-line-title {
            font-weight: 400;
            font-size: 17px;
            user-select: none;
          }

          .timeline {
            font-size: 18px;
            font-weight: 500;
            height: 30px;
            width: 45px;
            color: #fff;
            border-radius: 5px;
            line-height: 30px;
            text-align: center;
            background: #343a40;
            border: 1px solid #343a40;
            user-select: none;
          }
        }
      }

      .progressBar {
        height: 3px;
        width: 0%;
        background: #A33757;
        transition: all 0.5 ease;
      }
    }

    .quiz-content-section {
      padding: 25px 30px 20px 30px;
      background: #ffffff;
      display: flex;
      flex-direction: column;

      .questionText {
        font-size: 25px;
        font-weight: 600;
      }

      .options-list-container {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;

        .options {
          background: aliceblue;
          border: 1px solid #0A1931;
          border-radius: 5px;
          padding: 8px 15px;
          font-size: 17px;
          margin-bottom: 15px;
          cursor: pointer;
          transition: all 0.3s ease;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .options.correct {
          color: #155724;
          background: #d4edda;
          border: 1px solid #c3e6cb;
        }
        .options.incorrect {
          color: #721c24;
          background: #f8d7da;
          border: 1px solid #f5c6cb;
        }
        .icon {
          height: 26px;
          width: 26px;
          border: 2px soild transparent;
          border-radius: 50%;
          text-align: center;
          font-size: 13px;
          pointer-events: none;
          transition: all 0.3s ease;
          line-height: 24px;
        }
        .icon.tick {
          color: #23903c;
          border-color: #23903c;
          background: #d4edda;
        }
        .icon.cross {
          color: #dc3545;
          border-color: #dc3445;
          background: #f8d7da;
        }
        .options.disabled {
          pointer-events: none;
        }
      }
    }

    .quiz-footer-section {
      height: 60px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid lightgrey;

      .quiz-footer-text {
        .highlighted-text {
          font-weight: 500;
          padding: 0 5px;
        }
      }

      .nextBtn {
        height: 40px;
        padding: 0 13px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
        background: #4A7FA7;
        border: 1px solid #1A3D63;
        line-height: 10px;
        opacity: 0;
        pointer-events: none;
        transform: scale(0.95);
        transition: all 0.3s ease;
        /* remove and manipulate through JavaScript */
      }
      .nextBtn.active {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
        background: #4A7FA7;
      }
    }
  }

  .quiz-box.activeQuizBox {
    /* * remove later */
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }

  .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    /* opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); */

    .crownIcon {
      font-weight: 900;
      font-size: 100px;
      color: #F3AA20;
    }

    .completedText {
      font-size: 20px;
      font-weight: 500;
    }

    .score_text {
      span {
        display: flex;
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
      }
      p {
        padding: 0 4px;
        font-weight: 600;
      }
    }

    .result-box-buttons-container {
      display: flex;
      margin: 20px 0;

      button {
        margin: 0 10px;
        height: 45px;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        border: 1px solid #0A1931;
        transition: all 0.3s ease;
      }

      .replay_Quiz {
        color: #fff;
        background: #4A7FA7;
      }
      .quit {
        color: #1A3D63;
        background: #fff;
      }
      
    }
  }

  .result-box.activeResultBox {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
}

